body {
    background-image: url('CCimage/aerial.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
body.about-page::after {
    content: "";
    position: fixed; 
    top: 20%;
    left: 13%; 
    width: 75%;
    height: 75%;
    background-image: url('CCimage/aboutus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    z-index: 1;
}
.about-description{
    width: 700px;
    text-align: justify;
    position: relative;
    margin-top: 120px;
    margin-left: 590px;
    color: white;
    font-size: 20px;

    z-index: 2;
}
.image-container {
    display: flex; /* Use Flexbox for horizontal alignment */
    justify-content: space-around; /* Adjust the space between images */
    align-items: center; /* Align items vertically in the center */
  }
.rise{
    margin-top: 280px;
    margin-right: 835px;
    position: fixed;
    z-index: 2;
}
.yankee{
    margin-top: 300px;
    margin-right: 267px;
    position: fixed;
    z-index: 2;
}
.thesaly{
    margin-top: 300px;
    margin-left: 300px;
    position: fixed;
    z-index: 2;
}
.andre{
    margin-top: 300px;
    margin-left: 865px;
    position: fixed;
    z-index: 2;
}