body {
    background-image: url('CCimage/aerial.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
body.about-page::after {
    content: "";
    position: fixed; 
    top: 20%;
    left: 13%; 
    width: 75%;
    height: 75%;
    background-image: url('CCimage/aboutus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    z-index: 1;
}
.about-description{
    width: 700px;
    text-align: justify;
    position: relative;
    margin-top: 120px;
    margin-left: 590px;
    color: white;
    font-size: 20px;

    z-index: 2;
}