.App {
  height: 300vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('CCimage/aerial.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.CustomCard {
  width: 100%;
  margin-bottom: 20px; /* Adjust the margin as needed */
}

/* Style for the card container to create a three-column layout */
.card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Adjust the gap between cards as needed */
}

@media (min-width: 768px) {
  .card-columns .CustomCard {
    width: calc(33.333% - 20px); /* Adjust width and margin for three-column layout */
    /* For example, if you want even spacing, use (33.333% - (2 * gap)) */
  }
}