.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('CCimage/aerial.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px; 
  box-sizing: border-box; 
}

.CustomCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a grid with four equal-width columns */
  row-gap: 30px;
  width: 100%;
  max-width: 300px; /* Set maximum width for the card */
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; /* Adjust the margin between cards */
}

.card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust spacing between cards */
  margin-top: 20px;
  gap: 30px; /* Adjust the gap between cards */
}

