.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('CCimage/aerial.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px; /* Add padding to the container for spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates a grid with four equal-width columns */
  gap: 20px; /* Adjust the gap between grid items */
  padding-top: 20px;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  padding: 0 20px; /* Add padding to the sides */
  box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

.CustomCard {
  width: 100%;
  max-width: 300px; /* Set maximum width for the card */
  margin-bottom: 20px; /* Adjust the margin between cards */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow to the card */
}
.card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust spacing between cards */
  gap: 20px; /* Adjust the gap between cards */
}

@media (min-width: 768px) {
  .CustomCard {
    max-width: 250px; /* Adjust maximum width for larger screens */
  }

  .card-columns .CustomCard {
    width: calc(33.333% - 20px); /* Adjust width for three-column layout */
    /* For example, if you want even spacing, use (33.333% - (2 * gap)) */
  }
}
