body {
    background-image: url('CCimage/aerial.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

body.Signup-page::after {
    content: "";
    position: fixed; 
    top: 15%;
    left: 17.5%; 
    width: 65%;
    height: 80%;
    background-image: url('CCimage/signup1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 36px;
    z-index: 1; 
    animation: borderGlow 2s infinite alternate; 
}

@keyframes borderGlow {
    0% {
        box-shadow: 0 0 20px #4E1E22; 
    }
    100% {
        box-shadow: 0 0 20px #e6b87b, 0 0 30px #fb9918; 
    }
}

.Signupcont{
    display: flex;
    margin-top: 547px;
    margin-left: 885px;
    position: fixed;
    z-index: 2;

}
.Signupcont1{
    display: flex;
    margin-top: 547px;
    margin-left: 345px;
    position: fixed;
    z-index: 2;
}
.Signup {
    width: 175px;
    height: 45px;
    border-radius: 15px;
    background-color: #4E1E22;
    color: #F6B460;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid #F6B460; 
    transition: border-color 0.5s ease; 
}
.Signup:hover {
    background-color: #F6B460;
    color: #4E1E22;
}
.SignupText{
    display: flex;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 20px;
    margin-left: 420px;
    padding-bottom: 0px;
    position: fixed; 
    z-index: 2;
    animation: glowing 2s infinite;
}

@keyframes glowing {
    0% {
      text-shadow: 0 0 5px #F6B460; 
    }
    50% {
      text-shadow: 0 0 15px #F6B460;
    }
    100% {
      text-shadow: 0 0 5px #F6B460;
    }
  }

.Signupatts{
    position: fixed; 
    margin-top: 80px;
    margin-left: 295px;
    z-index: 2;
}
.SignupTextFormat{
    font-size: 40px;
}